@model IEnumerable<WatchViewModel>

@{
}

<h2>
    List of watches
</h2>
<a class="btn btn-primary me-2" asp-action="Create">New Watches</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Item No.</th>
            <th>Short Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var watch in Model)
        {
            <tr>
                <td>@watch.Id</td>
                <td>@watch.Name</td>
                <td>@watch.ItemNumber</td>
                <td>@watch.ShortDescription</td>
                <td>@watch.Price PHP</td>
                <td>
                    <button type="button" class="btn btn-primary me-2" asp-area="" asp-controller="" asp-action="">Edit</button>
                    <button type="button" class="btn btn-danger me-2" asp-area="" asp-controller="" asp-action="">Delete</button>
                </td>
            </tr>
        } 
    </tbody>
</table>
